html, body {
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espaces internes */
    height: 100%; /* Définit la hauteur de la page sur 100% de l'écran */
    width: 100%; /* Définit la largeur de la page sur 100% de l'écran */
  }
  
  /* * {
    border: 1px solid #ff1493;
  } */
  
  body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
  }
  .header {
    background-color: #ff1493; /* Couleur de fond rose vif */
    padding: 20px; /* Ajoute des espaces internes autour du contenu */
    text-align: center; /* Centre le texte horizontalement */
  }
  
  .footer {
    background-color: #f5f5f5; /* Couleur de fond gris clair */
    padding: 10px; /* Ajoute des espaces internes */
    text-align: center; /* Centre le texte */
    font-size: 0.8em; /* Réduit la taille du texte */
    color: #555; /* Couleur du texte en gris moyen */
  }